*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body{
    background-color: rgba(23, 23, 126, 0.788);
}
.intelect{
    justify-content: center;
    text-align: center;
    overflow: hidden;
    width: 60%;
    height: 100%;
    background-color: rgb(244, 244, 244);
    border-radius: 30px;
    margin: 0 auto;
}
.Name-off-site{
    text-align: center;
    font-family: 'Noto Serif Display', serif;
}
.img_ii{
    border: 5px solid rgb(0, 0, 0);
    border-radius: 30px;
    width: 80%;
    height: 400px;
}
.text{
    text-align: center;
    color: rgb(159, 178, 238);
}
.img_ii_proizvodstvo1{
    border: 5px solid rgb(0, 0, 0);
    border-radius: 30px;
    width: 80%;
    height: 350px;
}
.img_ii_prozvodstvo2{
    border: 5px solid rgb(0, 0, 0);
    border-radius: 30px;
    width: 80%;
    height: 450px;
}
button{
    background-color: deepskyblue;
}